<VirtualHost *:80>
  ServerAdmin jgordon@suse.com
  ServerName susepubliccloudinfo.suse.com
  DocumentRoot /srv/www/publicCloudInfoSrv/public
  Include /etc/apache2/conf.d/mod_passenger.conf
  # dev/test
  # SetEnv FRAMEWORKS /srv/www/publicCloudInfoSrv/spec/fixtures/framework-*.xml
  # production
  SetEnv FRAMEWORKS /etc/publicCloudInfo/*.xml
  <Directory "/srv/www/publicCloudInfoSrv/public">
    Options -MultiViews 
    <IfModule mod_access_compat.c>
    Order allow,deny
    Allow from all
    </IfModule>
    <IfModule !mod_access_compat.c>
      Require all granted
    </IfModule>
  </Directory>
</VirtualHost>

