# NOTE: we pin the version to the lowest common denominator, that it
# is the highest version that Python 3.6.15 currently supports.
alembic==1.7.7
boto3==1.23.10
botocore==1.26.10
click==8.0.4
decorator==5.1.1
Flask==2.0.3
Flask-Cors==4.0.1
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
lxml==5.2.2
Mako==1.1.6
MarkupSafe==2.0.1
pbr==6.0.0
pint_models @ git+https://github.com/SUSE-Enceladus/public-cloud-info-models
psycopg2-binary==2.9.8
python-dateutil==2.9.0.post0
python-editor==1.0.4
s3transfer==0.5.2
serverless-wsgi==3.0.3
six==1.16.0
SQLAlchemy==1.4.52
sqlparse==0.4.4
Tempita==0.5.2
typing-extensions==4.1.1
urllib3==1.26.18
Werkzeug==2.0.3
zipp==3.6.0
